<style>
img{
  width:900px;
  height:400px;
  object-fit:cover; 
}

  
</style>


<div>
    <%= render 'navigation/index' %>
</div>


<div class"img">
      <%= image_tag(@article.image) %>
</div>
 
<div class = "articleBody">

  <div></div>
  
  <div> 
  
      <div>
        <br>
        <strong><%= @article.title %> </strong>
        <br>
        <br>
      </div>
      
  
      <div <div class = "articleText">
        <%= @article.text %>
      </div>
    
  </div>
  <div></div>

</div>




<div class = "articleSections">
  <div>
    <%= render @article.comments %>
  </div>
  <div>
    <%= render 'comments/form' %>
  </div>

</div>



