<style>
img{
  width:900px;
  height:400px;
  object-fit:cover; 
  
</style>


<div>
    <%= render 'navigation/index' %>
</div>

<div class"img">
  <%= image_tag(@article.image) %>
</div>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>



<div class = "articleSections">
  <div>
    <%= render @article.comments %>
  </div>
  <div>
    <%= render 'comments/form' %>
  </div>

</div>



