<style>
img{
  width:900px;
  height:400px;
  object-fit:cover; 
}
  
</style>


<div>
    <%= render 'navigation/index' %>
</div>

<div class"img">
  <%= image_tag(@article.image) %>
</div>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>

<%= render @article.comments %>
 

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Article List', articles_path %>
